* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center ;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 60%;
  height: 100vh;
}

.instagram-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.instagram-phone img {
  height: 50rem;
}

.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 50%;
  min-height: 37rem;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  padding: 1.3rem 0;
  border: 1px solid lightgray;

  margin-top: 10px;
}

.group img {
  margin-bottom: 15px;
}

.group a {
  font-weight: bold;
}

.group p span {
  font-weight: bold;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input {
  padding: 10px 15px;
  font-size: 12px;
  min-width: 260px;
  margin: 3px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.login p {
  color: #979797;
  font-weight: 700;
  font-size: 11px;
}

.login p::before {
  content: "__________________";
  padding: 10px;
  position: relative;
  top: -5px;
}

.login p::after {
  content: "_________________";
  padding: 10px;
  position: relative;
  top: -5px;
}

.instagram-logo {
  height: 55px;
}

.instagram-button {
  margin: 5px 0 15px 0;
  font-weight: bold;
  background-color: #0095f6;
  color: white;
  border: 0;
  padding: 8px;
  border-radius: 5px;
  min-width: 260px;  
}

.get-in-facebook {
  color: #3b5998;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 5px;
}

.with-facebook {
  font-weight: bold;
  padding-bottom: 15px;
}

.forget-password {
  font-size: 12px;
}

.not-account {
  color: black;
}

.link-blue {
  color: #0095f6;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.app-download {
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url(./img/googleplay-button.png);
}

.app-download:nth-child(2) {
  background-image: url(./img/apple-button.png);
}



@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  body {
    background-color: #ffffff;
  }

  .instagram-wrapper {
    width: 90%;
  }
  .instagram-phone {
    display: none;
  }
  .instagram-continue {
    width: 100%;
  }

  .group {
    border: 1px solid transparent;
  }
}